<li>
  {{#link-to 'rental' rental.id}}{{rental.owner}} {{rental.type}} {{rental.city}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>

<li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
